In [21]:

import pandas as pd
data = pd.read_csv("./alquiler_residencial.csv", sep=";")
# add new column
data["Valor Bruto"] = (data["Valor"]) + (data["Mantenimiento"]) + (data["Impuesto"])
# add column m2
data["Valor m2"] = (data["Valor"]) / (data["Area"])
# round decimal
data["Valor m2"] = data["Valor m2"].round(2)
# add column Valor Bruto m2
data["Valor Bruto m2"] = ((data["Valor Bruto"]) / (data["Area"])).round(2)
# add column if tipo contains casa
casa = ["Casa", "Casa en condominio", "Casa de villa"]
data["Tipo Agrupado"] = data["Tipo"].apply(lambda e: "Casa" if e in casa else "Departamento")

# exclude variables
data_aux = pd.DataFrame(data[["Tipo Agrupado", "Valor m2", "Valor Bruto", "Valor Bruto m2"]])
# delete column
del data_aux["Valor Bruto"]
# delete column with pop
data_aux.pop("Valor Bruto m2")
# delete with drop
data_aux.drop(["Valor m2"], axis = 1, inplace=True)
data_aux.head(10)

#export data
data_aux.to_csv("data_aux.csv", sep=";", index=False)

  Tipo Agrupado
0  Departamento
1          Casa
2  Departamento
3  Departamento
4  Departamento
5  Departamento
6          Casa
7          Casa
8  Departamento
9  Departamento